.outerBox {
	display:block;
}

.btn-text {
	margin-bottom:15px;
	white-space: normal;
	display: block;
	width: 100%;
	height: 290px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 20px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.rightAngle {
	margin-bottom:15px;
	white-space: normal;
	height: 290px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 20px;
}

.brnoc-active {
	color: white !important;
	background-color: rgba(0, 0, 0, 0.87) !important;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}



body {
	background-image: url("../img/mainbackground.png");
	background-attachment: fixed;

}



.carousel-text {
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: small;
}

.navbar {
	box-shadow: 2px 6px 12px rgba(0,0,0,.175);
}

.wraper-content {
	background-color: white;
	border-radius: 25px;
	box-shadow: 2px 6px 12px rgba(0,0,0,.175);
}

.inner-content {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 5px;
}

.footer {
	margin-top: 20px;
}

.footer-text {
}

@media (max-width:991px){
	.carousel-text {
		font-size: small;
	}

	.carousel-text-h {
		font-size: medium;
	}

	.carousel-button {
		background-color: transparent;
		border-color: transparent;
	}}

@media (min-width:768px){.wraper-content{width:750px}}
@media (min-width:992px){.wraper-content{width:970px}  }
@media (min-width:1200px){.wraper-content{width:1170px}}

@media (min-width:992px) {
	.btn-text{
		height: 285px;
	}
}

