# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	-   Nette\Mail\Message
	-	Nette\Mail\SendmailMailer
	#-	Nette\Security\SimpleAuthenticator
	-   App\Model\RegistrationTalkModel

security:
	users:
		admin: secret